<div class="Backdrop is-hidden" data-modal>
  <div class="Modal">
    <button class="ModalButton" type="button" data-modal-close>Close</button>
    <form class="ModalForm">
      <p class="ModalForm__title">Order Form</p>

      <label for=""></label>
      <input class="ModalForm__inpyt" type="text" />

      <label for=""></label>
      <input class="ModalForm__inpyt" type="text" />

      <label for=""></label>
      <input class="ModalForm__inpyt" type="text" />
      <button class="ModalForm__button" type="submit">Send</button>
    </form>
  </div>
</div>
