<section class="favorites">
  <div class="container favorites__container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <img
            srcset="
              ./images/igor/gamburger-224@1x.png 448w,
              ./images/igor/gamburger-224@2x.png 896w,
              ./images/igor/gamburger-268@1x.png 268w,
              ./images/igor/gamburger-268@2x.png 536w,
              ./images/igor/gamburger-315@1x.png 315w,
              ./images/igor/gamburger-315@1x.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
            src="./images/igor/gamburger-224@1x.png"
            alt="gamburger"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <img
            srcset="
              ./images/igor/pasta-224@1x.png 448w,
              ./images/igor/pasta-224@2x.png 896w,
              ./images/igor/pasta-268@1x.png 268w,
              ./images/igor/pasta-268@2x.png 536w,
              ./images/igor/pasta-315@1x.png 315w,
              ./images/igor/pasta-315@1x.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
            src="./images/igor/pasta-224@1x.png"
            alt="pasta"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <img
            srcset="
              ./images/igor/pizza-224@1x.png 448w,
              ./images/igor/pizza-224@2x.png 896w,
              ./images/igor/pizza-268@1x.png 268w,
              ./images/igor/pizza-268@2x.png 536w,
              ./images/igor/pizza-315@1x.png 315w,
              ./images/igor/pizza-315@1x.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
            src="./images/igor/pizza-224@1x.png"
            alt="pizza"
          />
        </a>
      </li>
      <li class="favorites__item favorites__item--disable">
        <a class="favorites__link" href="">
          <img
            srcset="
              ./images/igor/chicken-268@1x.png 268w,
              ./images/igor/chicken-268@2x.png 536w,
              ./images/igor/chicken-315@1x.png 315w,
              ./images/igor/chicken-315@1x.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            src="./images/igor/chicken-268@1x.png"
            alt="chicken"
          />
        </a>
      </li>
      <li class="favorites__item favorites__item--disable">
        <a class="favorites__link" href="">
          <img
            srcset="
              ./images/igor/salat-268@1x.png 268w,
              ./images/igor/salat-268@2x.png 536w,
              ./images/igor/salat-315@1x.png 315w,
              ./images/igor/salat-315@1x.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            src="./images/igor/salat-268@1x.png"
            alt="salat"
          />
        </a>
      </li>
      <li class="favorites__item favorites__item--disable">
        <a class="favorites__link" href="">
          <img
            srcset="
              ./images/igor/borsh-268@1x.png 268w,
              ./images/igor/borsh-268@2x.png 536w,
              ./images/igor/borsh-315@1x.png 315w,
              ./images/igor/borsh-315@1x.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            src="./images/igor/borsh-268@1x.png"
            alt="borsh"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
