<section class="favorites">
  <h2 class="favorites__title">Some of Our Favorites</h2>
  <p class="favorites__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <ul>
    <li>
      <a href="">
        <img
          srcset="
            ./images/igor/food-1-224@1x.png 448w,
            ./images/igor/food-1-224@2x.png 896w,
            ./images/igor/food-1-268@1x.png 268w,
            ./images/igor/food-1-268@2x.png 536w,
            ./images/igor/food-1-315@1x.png 315w,
            ./images/igor/food-1-315@1x.png 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
          src="./images/igor/food-1-224@1x.png"
          alt="gamburger"
        />
      </a>
    </li>
    <li>
      <a href="">
        <img
          srcset="
            ./images/igor/food-2-224@1x.png 448w,
            ./images/igor/food-2-224@2x.png 896w,
            ./images/igor/food-2-268@1x.png 268w,
            ./images/igor/food-2-268@2x.png 536w,
            ./images/igor/food-2-315@1x.png 315w,
            ./images/igor/food-2-315@1x.png 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
          src="./images/igor/food-2-224@1x.png"
          alt="pasta"
        />
      </a>
    </li>
    <li>
      <a href="">
        <img
          srcset="
            ./images/igor/food-3-224@1x.png 448w,
            ./images/igor/food-3-224@2x.png 896w,
            ./images/igor/food-3-268@1x.png 268w,
            ./images/igor/food-3-268@2x.png 536w,
            ./images/igor/food-3-315@1x.png 315w,
            ./images/igor/food-3-315@1x.png 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 224px, 100vw"
          src="./images/igor/food-3-224@1x.png"
          alt="pizza"
        />
      </a>
    </li>
    <li>
      <a href="">
        <img
          srcset="
            ./images/igor/food-4-268@1x.png 268w,
            ./images/igor/food-4-268@2x.png 536w,
            ./images/igor/food-4-315@1x.png 315w,
            ./images/igor/food-4-315@1x.png 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
          src="./images/igor/food-4-268@1x.png"
          alt="chicken"
        />
      </a>
    </li>
    <li>
      <a href="">
        <img
          srcset="
            ./images/igor/food-5-268@1x.png 268w,
            ./images/igor/food-5-268@2x.png 536w,
            ./images/igor/food-5-315@1x.png 315w,
            ./images/igor/food-5-315@1x.png 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
          src="./images/igor/food-5-268@1x.png"
          alt="salat"
        />
      </a>
    </li>
    <li>
      <a href="">
        <img
          srcset="
            ./images/igor/food-6-268@1x.png 268w,
            ./images/igor/food-6-268@2x.png 536w,
            ./images/igor/food-6-315@1x.png 315w,
            ./images/igor/food-6-315@1x.png 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
          src="./images/igor/food-6-268@1x.png"
          alt="borsh"
        />
      </a>
    </li>
  </ul>
</section>
