<!-- <footer class="footer">
  <div class="container">
    <svg width="69" height="51">
      <use href="./images/serhii/icons.svg#logo"></use>
    </svg>
    <ul class="footer-nav">
      <li><a class="footer-nav__link" href="">Home</a></li>
      <li><a class="footer-nav__link" href="">About</a></li>
      <li><a class="footer-nav__link" href="">Service</a></li>
      <li><a class="footer-nav__link" href="">Menu</a></li>
      <li><a class="footer-nav__link" href="">Contact</a></li>
    </ul>

    <form class="subscribe">
      <h1 class="subscribe__title">Subscribe</h1>
      <label class="subscribe__label">
        <input class="sunscribe__input" type="email" required placeholder="Enter your email" />
      </label>
      <p class="subscribe__text">
        By subscribing you agree to with our
        <a class="subscribe__privacy" href="">Privacy Policy</a>
      </p>
    </form>

    <div class="extra">
      <ul class="extra__list">
        <li><a class="extra__link" href="">Privacy Policy</a></li>
        <li><a class="extra__link" href="">Terms of Service</a></li>
        <li><a class="extra__link" href="">Cookies Settings</a></li>
      </ul>
      <p class="extra__copy">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer> -->
