<footer class="footer">
    <div class="footer__container">
        <h1 class="visually-hidden"></h1>
        <div class="footer__box">

            <svg class="footer__icon" width="69" height="51">
                <use href="./images/serhii/icons.svg#logo"></use>
            </svg>
            <ul class="footer__list">
                <li class="footer__item"><a class="footer__link" href="">Home</a></li>
                <li class="footer__item"><a class="footer__link" href="">About</a></li>
                <li class="footer__item"><a class="footer__link" href="">Service</a></li>
                <li class="footer__item"><a class="footer__link" href="">Menu</a></li>
                <li class="footer__item"><a class="footer__link" href="">Contact</a></li>
            </ul>


            <form class="subscribe">

                <label class="subscribe__label">
                    <h2 class="subscribe__title">Subscribe</h2>
                    <input class="subscribe__input" type="email" required placeholder="Enter your email">
                    <p class="subscribe__error">
                        <svg class="error-icon" width="12" height="12">
                            <use href="./images/serhii/icons.svg#error"></use>
                        </svg>
                        Not a valid email address (example@email.com)
                    </p>
                </label>
                <button class="subscribe__btn" type="submit">Subscribe</button>
                <p class="subscribe__text">By subscribing you agree to with our <a class="subscribe__privacy"
                        href="">Privacy Policy</a></p>
            </form>
        </div>
        <div class="extra">
            <ul class="extra__list">
                <li><a class="extra__link" href="">Privacy Policy</a></li>
                <li><a class="extra__link" href="">Terms of Service</a></li>
                <li><a class="extra__link" href="">Cookies Settings</a></li>
            </ul>
            <p class="extra__copy">2022 FoodSta. All right reserved.</p>
        </div>


    </div>
</footer>