<!-- <header class="header-page">
  <div class="container main-nav">
    <a class="logo" href="#"
      ><svg class="logo-img" width="66" height="52">
        <use href="./images/Natali/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="nav list">
        <li>
          <a class="nav__link nav__link--current" href="#">Home</a>
        </li>
        <li><a class="nav__link" href="#">About</a></li>
        <li><a class="nav__link" href="">Service</a></li>
        <li><a class="nav__link" href="">Menu</a></li>
        <li><a class="nav__link" href="">Contact</a></li>
      </ul>
    </nav>
    <button class="nav-button" type="button">Order Now</button>
    <button class="burger-btn" type="button">
      <svg class="burger-btn__icon">
        <use href="./images/Natali/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header> -->
