<header class="header-page">
  <div class="container main-nav">
    <a class="logo" href="#"><svg class="logo-img" width="66" height="52">
        <use href="./images/Natali/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="nav list">
        <li>
          <a class="nav__link nav__link--current" href="#">Home</a>
        </li>
        <li><a class="nav__link" href="#">About</a></li>
        <li><a class="nav__link" href="">Service</a></li>
        <li><a class="nav__link" href="">Menu</a></li>
        <li><a class="nav__link" href="">Contact</a></li>
      </ul>
    </nav>
    <button data-modal-open class="nav-button" type="button">Order Now</button>
    <button class="burger-btn js-open-menu" type="button">
      <svg class="burger-btn__icon">
        <use href="./images/Natali/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>

<div class="menu-nav js-menu-container" id="mobile-menu">
  <button class="btn-close js-close-menu">
    <svg class="btn-close__icon" width="18" height="18">
      <use href="./images/Natali/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="menu-nav__list">
    <li><a class="menu-nav__link" href="#home">Home</a></li>
    <li><a class="menu-nav__link" href="#about">About</a></li>
    <li><a class="menu-nav__link" href="service">Service</a></li>
    <li><a class="menu-nav__link" href="#menu">Menu</a></li>
    <li><a class="menu-nav__link" href="#contact">Contact</a></li>
  </ul>
</div>