<section class="hero" id="about">
  <div class="container container-hero">
    <div class="hero__wrapper-text-content">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="hero__button" type="button" data-modal-open>
        Order Now
      </button>
    </div>
    <div class="hero__border hero__wrapper-card">
      <div class="hero__card">
        <picture>
          <source
            srcset="
              ./images/max/plate-one1280@1x.png 1x,
              ./images/max/plate-one1280@2x.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/max/plate-one768@1x.png 1x,
              ./images/max/plate-one768@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img
            class="hero__picture"
            src="./images/max/plate-one1280@2x.png"
            alt="plate of food"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/max/plate-two1280@1x.png 1x,
              ./images/max/plate-two1280@2x.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/max/plate-two768@1x.png 1x,
              ./images/max/plate-two768@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="hero__picture"
            src="./images/max/plate-two1280@2x.png"
            alt="plate of food"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/max/plate-three1280@1x.png 1x,
              ./images/max/plate-three1280@2x.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/max/plate-three768@1x.png 1x,
              ./images/max/plate-three768@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img
            class="hero__picture"
            src="./images/max/plate-three1280@2x.png"
            alt="plate of food"
          />
        </picture>
      </div>
    </div>
    <button class="hero__slider-next hero__btn" type="button">
      <svg class="hero__icon-slider" width="29" height="16">
        <use href="./images/max/svg/symbol-defs.svg#left"></use>
      </svg>
    </button>
    <button class="hero__slider-prev hero__btn" type="button">
      <svg class="hero__icon-slider" width="29" height="16">
        <use href="./images/max/svg/symbol-defs.svg#rigth"></use>
      </svg>
    </button>
  </div>
</section>

<section class="Offerings" id="service">
  <div class="container OfferingsContainer">
    <div class="test2">
      <h2 class="OfferingsTitle">What’s Special About Our Offerings</h2>
      <p class="OfferingsSubtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="OfferingsList">
        <li class="OfferingsList__item">
          <span class="OfferingsList__bcg">
            <svg class="OfferingsList__icon">
              <use href="./images/max/svg/symbol-defs.svg#icon-Vector-10"></use>
            </svg>
          </span>

          <h3 class="OfferingsList__title">Fasest Delivery</h3>
          <p class="OfferingsList__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="OfferingsList__item">
          <span class="OfferingsList__bcg">
            <svg class="OfferingsList__icon">
              <use href="./images/max/svg/symbol-defs.svg#icon-Vector-11"></use>
            </svg>
          </span>
          <h3 class="OfferingsList__title">Easy to order</h3>
          <p class="OfferingsList__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>

      <ul class="OfferingsButtonList">
        <li class="OfferingsButtonList__item">
          <button
            class="OfferingsButtonList__button"
            type="button"
            data-modal-open
          >
            Order Now
          </button>
        </li>
        <li class="OfferingsButtonList__item">
          <button class="OfferingsButtonList__button test">
            Read More
            <svg width="5" height="8">
              <use href="./images/max/svg/symbol-defs.svg#read-more-icon"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
