<section class="Hero">
  <div class="container">
    <h1 class="HeroTitle">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="HeroSubtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>

    <button class="HeroButton" type="button" data-modal-open>Order Now</button>
  </div>
</section>

<section class="Offerings">
  <div class="container">
    <h2 class="OfferingsTitle">What’s Special About Our Offerings</h2>
    <p class="OfferingsSubtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="OfferingsList">
      <li class="OfferingsList__item">
        <span class="OfferingsList__bcg">
          <svg class="OfferingsList__icon">
            <use href="./images/max/svg/symbol-defs.svg#icon-Vector-10"></use>
          </svg>
        </span>

        <h3 class="OfferingsList__title">Fasest Delivery</h3>
        <p class="OfferingsList__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="OfferingsList__item">
        <span class="OfferingsList__bcg">
          <svg class="OfferingsList__icon">
            <use href="./images/max/svg/symbol-defs.svg#icon-Vector-11"></use>
          </svg>
        </span>
        <h3 class="OfferingsList__title">Easy to order</h3>
        <p class="OfferingsList__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>

    <ul class="OfferingsButtonList">
      <li class="OfferingsButtonList__item">
        <button
          class="OfferingsButtonList__button"
          type="button"
          data-modal-open
        >
          Order Now
        </button>
      </li>
      <li class="OfferingsButtonList__item">
        <button class="OfferingsButtonList__button test">Read More</button>
      </li>
    </ul>
  </div>
</section>
