.Modal {
    position: absolute;
    width: 100%;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--bezier-functiion);

    background-color: #FFE550;

   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;

    @media screen and(min-width:768px) {
        width: 458px;
        
    }
}


.Backdrop.is-hidden .Modal {
    transform: translate(-50%, -50%) scale(0.9);

}

.ModalButton {
    position: absolute;
    display: flex;
    top: 16px;
    right: 16px;

    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;

    border-radius: 50%;
    border: none;
   
    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-property: fill;

    &:hover,
    &:focus{
        fill: #BBF330;
    }
}

.ModalForm__title{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;    
    color: #2C2C2C;
    margin-bottom: 20px;
}

.ModalForm__button{
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid #7EB101;
    border-radius: 30px;
    cursor: pointer;

    width: 106px;
    height: 40px;


    background-color: #ffffff;

    &:hover,
    &:focus,
    &:active{
        background-color: #BBF330;
    }
}

.ModalForm{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modalform-label__name{
    font-weight: 500;
font-size: 16px;
line-height: calc(22/16);
padding-left: 12px;




/* Black */

color: $black;
}

.ModalForm__input{
    height: 48px;
    width: 100%;

    padding-left: 12px;
    padding-right: 12px;
    
    border: 1px solid #7EB101;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    outline: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    &::-webkit-input-placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20/16);

    color: #C4C4C4;
    }

&:not(:placeholder-shown):required:valid {
border-color: #7EB101;
}

&:not(:placeholder-shown):required:invalid {
border-color: #FF705D;
}

&:not(:placeholder-shown):required:invalid+.subscribe__error {
display: flex;
    gap: 4px;
    margin-top: 4px;
}

&:placeholder-shown{
    border-color: #FFE550;
}
}

.ModalForm__subtitle{

    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2C2C2C;
}

.ModalForm__subtitle{
    margin-top: 24px;
    padding-left: 10px;
}



