.favorites {
  @include section;
  @include tablet {
    padding: 100px 0;
  }
}

.favorites__title {
  color: $black;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  @include tablet {
    font-size: 42px;
  }
}

.favorites__text {
  font-size: 14px;
  text-align: center;
  color: $black;
  margin-bottom: 60px;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}

.favorites__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
  }
}

.favorites__item {
  width: 100%;

  @include tablet {
    width: calc((100% - 32px) / 2);
  }
  @include desktop {
    width: calc((100% - 64px) / 3);
  }
}

.favorites__link {
  display: block;
  padding: 18px 18px;
  border: 11px solid #ffe550;
  border-radius: 50%;

  @include tablet {
    padding: 24px 24px;
  }
  @include desktop {
    padding: 30px 30px;
    &:hover,
    &:focus {
      border-color: $dark-green;
    }
  }
}

.favorites__item--disable {
  display: none;
  @include tablet {
    display: block;
  }
}
