.footer{
    background-position: 0 132px, right top, 50% 100%;
    background-size: 110px 116px, 104px 259px, 253px 66px;
    background-repeat: no-repeat;
    background-image: url(../images/serhii/apple-mobile@1x.png), url(../images/serhii/citrus_mobile@1x.png), url(../images/serhii/banana-mobile@1x.png);
    padding: 60px 0;

@include retina-bgi{
    background-image:  url(../images/serhii/apple-mobile@2x.png), url(../images/serhii/citrus_mobile@2x.png), url(../images/serhii/banana-mobile@2x.png);
    background-size: 110px 116px, 104px 259px, 253px 66px;
}

@include tablet{
    padding: 100px 0;
    background-image: url(../images/serhii/1bk-tablet@1x.png),url(../images/serhii/2bk-tablet@1x.png),url(../images/serhii/3bk-tablet@1x.png),url(../images/serhii/4bk-tablet@1x.png),url(../images/serhii/5bk-tablet@1x.png),url(../images/serhii/6bk-tablet@1x.png),url(../images/serhii/7bk-tablet@1x.png);
    background-position: 30% bottom, 80% bottom, left bottom, 43% bottom, 63% bottom, right bottom, right top;
    background-size: 168px 92px, 171px 141px, 184px 60px, 153px 95px, 221px 82px, 170px 69px, 203px 365px;

    @include retina-bgi{
    background-image: url(../images/serhii/1bk-tablet@2x.png),url(../images/serhii/2bk-tablet@2x.png),url(../images/serhii/3bk-tablet@2x.png),url(../images/serhii/4bk-tablet@2x.png),url(../images/serhii/5bk-tablet@2x.png),url(../images/serhii/6bk-tablet@2x.png),url(../images/serhii/7bk-tablet@2x.png);
    background-size: 168px 92px, 171px 141px, 184px 60px, 153px 95px, 221px 82px, 170px 69px, 203px 365px;
    }
}

@include desktop{
    background-image: url(../images/serhii/1bk-desktop@1x.png),url(../images/serhii/2bk-desktop@1x.png),url(../images/serhii/3bk-desktop@1x.png),url(../images/serhii/4bk-desktop@1x.png),url(../images/serhii/5bk-desktop@1x.png),url(../images/serhii/6bk-desktop@1x.png),url(../images/serhii/7bk-desktop@1x.png), url(../images/serhii/8bk-desktop@1x.png);
    background-position: 15% bottom, 43% bottom, 85% bottom, left bottom, center bottom, 32% bottom, 70% bottom, right bottom;
    background-size: 178px 98px, 526px 266px, 182px 154px, 195px 60px, 380px 126px, 163px 103px, 235px 87px, 181px 73px;
    @include retina-bgi{
        background-image: url(../images/serhii/1bk-desktop@2x.png),url(../images/serhii/2bk-desktop@2x.png),url(../images/serhii/3bk-desktop@2x.png),url(../images/serhii/4bk-desktop@2x.png),url(../images/serhii/5bk-desktop@2x.png),url(../images/serhii/6bk-desktop@2x.png),url(../images/serhii/7bk-desktop@2x.png), url(../images/serhii/8bk-desktop@2x.png);
    background-size: 178px 98px, 526px 266px, 182px 154px, 195px 60px, 380px 126px, 163px 103px, 235px 87px, 181px 73px;

    }
}
}

.footer__container{
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (min-width: 320px){
        width: 320px;
    }
    
    @include tablet {
    width: 768px;
    padding: 0 32px;
    }
        
    @include desktop {
    width: 1280px;
    padding: 0 16px;
    }
}

.footer__box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 60px;

    @include tablet{
        margin-bottom: 100px;
    }

    @include desktop{
        margin-bottom: 80px;
    }
}

.footer__icon{
    margin-bottom: 153px;

    @include tablet{
        margin-bottom: 40px;
        margin-right: 114px;
    }
    @include desktop{
        margin-right: 148px;
    }
}

.footer__list{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

    @include tablet{
        flex-direction: row;
        gap: 28px;
        margin: 0;
    }
    @include desktop{
        margin-right: auto;
    }
} 

.footer__link{
    display: block;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: calc(16/14);

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);;

color: $black;
&:hover,
&:focus,
&:active{
    text-decoration: underline;
    color: $green;
}

}

.footer-subscribe{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;


    @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        width: 410px;
    }
    @include desktop{
    
    }
}

.footer-subscribe__title{
font-weight: 500;
font-size: 14px;
line-height: calc(21/14);
color: $black;


@include tablet{
width: 100%;
    }
}


.footer-subscribe__input{
    border: 0.854167px solid #FFE550;
border-radius: 30px;
height: 42px;
width: 280px;
padding:0 12px;
outline: none;


&::-webkit-input-placeholder{
    color:#505050;
    font-size: 12px;
    line-height: calc(18/12);
}

&:not(:placeholder-shown):required:valid {
border-color: #7EB101;
}

&:not(:placeholder-shown):required:invalid {
border-color: #FF705D;
}

&:not(:placeholder-shown):required:invalid+.subscribe__error {
display: flex;
    gap: 4px;
    margin-top: 4px;
}

&:placeholder-shown{
    border-color: #FFE550;
}


}

.subscribe__error{
    font-weight: 400;
font-size: 10px;
line-height: calc(15/10);
color: #FF705D;
display: none;

}

.error-icon{
    fill: #FF705D;
    
}

.footer-subscribe__btn{
width: 103px;
height: 42px;


background: #FFFFFF;
border: 0.854167px solid #7EB101;
border-radius: 30px;

font-weight: 500;
font-size: 13px;
line-height: calc(20/13);

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

color: $black;

&:hover,
&:focus,
&:active{
    border-color: #FFE450;
}
}

.footer-subscribe__text{
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: $black;
}

.footer-subscribe__privacy{
    color: $dark-green;
    text-decoration: underline;
}

.extra{
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
}

.extra__list{

    display: flex;
    flex-direction: row;
    gap: 32;
    margin-bottom: 40px;
    @include tablet {
        gap: 20px;
        margin-bottom: 0;
    }
}

.extra__link{
    font-weight: 400;
font-size: 10px;
line-height: calc(12/10);

text-decoration-line: underline;

color: $dark-green;
}

.extra__copy{
    
font-weight: 400;
font-size: 10px;
line-height: calc(12/10);
text-align: center;

color: $black;
}
