.footer{
    max-width: 1280px;
    margin: 0 auto;
    background-position: center;
    
    background-repeat: no-repeat;
    background-image: url(../images/serhii/footer-bck-480@1x.png);

@include retina-bgi{
    background-image: url(../images/serhii/footer-bck-480@2x.png);
}

@include tablet{
    background-image: url(../images/serhii/footer-bck-720@1x.png);

    @include retina-bgi{
        background-image: url(../images/serhii/footer-bck-720@2x.png);
    }
}

@include desktop{
    background-image: url(../images/serhii/footer-bck-1200@1x.png);
    
    @include retina-bgi{
        background-image: url(../images/serhii/footer-bck-1200@2x.png);
    }
}
}

.footer__box{
    display: flex;
}

.footer__icon{
    margin-right: 81px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
} 

.footer-nav__link{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: $black;
}

.subscribe{
    display: flex;
    flex-direction: column;
}

.subscribe__title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(21/14);
color: $black;

margin-bottom: 12px;
}