.HeroTitle{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    
    color:#2C2C2C;
}

.HeroSubtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    
    color:#2C2C2C;
}

.HeroButton{
    width: 98px;
    height: 32px;
    background-color: red;
    border-radius: 30px;
}