.Hero{
    padding-top: 60px;
    padding-bottom: 50px;

    @include desktop{
        padding-top: 14px;
        padding-bottom: -175px;
    }

    
}

.ContainerHero{
    position: relative;
    height: 608px;
    @media screen and(min-width:1280px) {
        
        }
}

.ContainerHero::after{

    position: absolute;
    @media screen and(min-width:768px) {
        
        content: "";
        background-image: url(../images/max/Ellipse-tablet@1x.png);
        height: 320px;
        width: 320px;
        
        top: 200px;
        right: 40px;
    }

    @media screen and(min-width:1200px) {
        background-image: url(../images/max/Ellipse-decstop@1x.png);
        width: 580px;
        height: 580px;
        right: 30px;
        top: 14px;
    }

}

.ContainerHero::before{
    position: absolute;
    @media screen and(min-width:1200px) {
            content: " ";
            background-image: url(../images/max/Plate-decstop@1x.png);
            width: 528px;
            height: 528px;
            top: 40px;
            right: 56px;
            z-index: 10;
            }
        }
    
 

.HeroTitle{
    margin-bottom: 28px;

    
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    
    color: #2C2C2C;

    @media screen and(min-width:768px) {
        width: 537px;
        
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
    }

    @media screen and(min-width:1280px) {
        width: 502px;
    
        font-size: 48px;
        }
    
}

.HeroSubtitle{
    margin-bottom: 28px;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    
    color:#2C2C2C;

    @media screen and(min-width:768px) {
        width: 336px;
        }

    @media screen and(min-width:1280px){
        width: 502px;
    }
}

.HeroButton{
    width: 98px;
    height: 32px;

    background-color: #BBF330;
    border-radius: 30px;
    border: transparent;
    cursor: pointer;

    font-weight: 500;
    font-size: 13px;
    line-height: 150%;

    color: #2C2C2C;
    
    &:hover{
        background-color: #FFE450 ;
    }
}


