.hero{
    @include desktop{
        margin-bottom: -161px;
    }

    
}

.container {
    padding-top: 60px;
    padding-bottom: 50px;

    @include desktop{
        padding-top: 14px;
        padding-bottom: 0px;
    }
}


.container-hero{
    position: relative;
   
    @include desktop {
        min-height: 608px;
        display: flex;
        }
}

.hero__wrapper-text-content {

    @include desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
}

.hero__border {
    position: absolute;
    padding-bottom: 528px;
    padding-right: 528px;
    max-width: 580px;
    max-height: 580px;
    border: 26px solid $main-yellow;
    border-radius: 50%;
    right: 30px;
}

.hero__item-slic {
    @include desktop {
        position: absolute;
    top: 0px;
    right:0px;
    }
}





// .container-hero::after{

//     position: absolute;
//     @media screen and(min-width:768px) {
        
//         content: "";
//         background-image: url(../images/max/Ellipse-tablet@1x.png);
//         height: 320px;
//         width: 320px;
        
//         top: 200px;
//         right: 40px;
//     }

//     @media screen and(min-width:1200px) {
//         background-image: url(../images/max/Ellipse-decstop@1x.png);
//         width: 580px;
//         height: 580px;
//         right: 30px;
//         top: 14px;
//     }

// }

// .container-hero::before{
//     position: absolute;
//     @media screen and(min-width:1200px) {
//             content: " ";
//             background-image: url(../images/max/Plate-decstop@1x.png);
//             width: 528px;
//             height: 528px;
//             top: 40px;
//             right: 56px;
//             z-index: 10;
//             }
//         }

.hero__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    
    color: $black;

    @include tablet {
        width: 537px;
        
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
    }

    @include desktop {
        width: 502px;
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 28px;
        }
    
}

.hero__subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    
    color:$black;

    @include tablet{
        width: 336px;
        }

    @include desktop{
        max-width: 502px;
        margin-bottom: 28px;

        font-size: 16px;
        line-height: 150%;
    }
}

.hero__button{
    width: 98px;
    height: 32px;

    background-color:$green;
    border-radius: 30px;
    border: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    outline: none;

    color: $black;
    
    &:hover,
    &:focus,
    &:active{
        background-color: #FFE450;
    }
}


