.hero{
    @include tablet{
        margin-bottom: -48px;
    }

    @include desktop{
        margin-bottom: -161px;
    }
}


.container-hero{
    padding-top: 60px;
    padding-bottom: 50px;
    height: 100%;
    @include tablet{
        position: relative;
        min-height: 409px;
        display: flex;
        padding-top: 60px;
        padding-bottom: 0px;
    }
   
    @include desktop {
        min-height: 608px;
        display: flex;
        padding-top: 14px;
        padding-bottom: 0px;
        }
}

.hero__wrapper-text-content {
    display: flex;
    flex-direction: column;
    

    @include desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.hero__border { 
    display: none;
    @include tablet {
        display: block;
        position: absolute;
        padding-bottom: 292px;
        padding-right: 292px;
        max-width: 320px;
        max-height: 320px;
        border: 14px solid $main-yellow;
        border-radius: 50%;
        top: 149px;
        right: 40px;
    }

        overflow: hidden;
        &:hover,
        &:focus {
            border-color: $green;
        }

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @include desktop {
        position: absolute;
        padding-bottom: 528px;
        padding-right: 528px;
        max-width: 580px;
        max-height: 580px;
        border: 26px solid $main-yellow;
        border-radius: 50%;
        top: 14px;
        right: 30px;
    }
}

.hero__card {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transition: all ease 1s;
    

}

.hero__picture {
    @include tablet {
        width: 292px;
        height: 292px;
    }
    @include desktop {
        width: 528px;
    height: 528px;
    }
    
}

.hero__title{
    font-size: 28px;
    line-height: 33px;
    
    color: $black;
    margin-bottom: 28px;

    @include tablet {
        width: 537px;
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 44px;
    }

    @include desktop {
        width: 502px;
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 28px;
        }
    
}

.hero__subtitle{
    font-size: 14px;
line-height: 150%;
    color:$black;
    margin-bottom: 28px;

    @include tablet{
        font-size: 16px;
line-height: 150%;
        width: 336px;
        margin-bottom: 40px;
        }

    @include desktop{
        max-width: 502px;
        margin-bottom: 28px;

        font-size: 16px;
        line-height: 150%;
    }
}

.hero__button{
    width: 98px;
    height: 32px;

    background-color:$green;
    border-radius: 30px;
    border: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    outline: none;

    z-index: 8;
    color: $black;
    
    &:hover,
    &:focus,
    &:active{
        background-color: #FFE450;
    }
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.hero__btn {
    display: none;
    width: 28px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
    border-radius: 8px;
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;


&:hover .hero__icon-slider {
    fill: $dark-green;
    
}

@include tablet {
    display: block;
}

@include desktop {
    width: 40px;
    height: 48px;
    padding: 6px 0;
}
}

.hero__icon-slider {
    display: none;
    @include tablet {
        display: block;
    }
}

.hero__slider-next {
    display: none;
    @include tablet {
        display: block;
        position: absolute;
    top: 295px;
    left: 400px;
     }
     @include desktop {
        position: absolute;
        top: 280px;
        left: 660px;
     }
    

}

.hero__slider-prev {
    display: none;
    
    @include tablet {
        display: block;
        position: absolute;
        top: 295px;
        right: 32px;
     }
     @include desktop {
        position: absolute;
        top: 280px;
        right: 20px;
     }

}