.Offerings{

    position: relative;

    padding-bottom: 60px;
    background-image: url(../images/max/Rectangle-320@1x.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 381px;

    @media screen and(min-width:480px) {
        background-image: url(../images/max/Rectangle-480@1x.png);
        }
    @media screen and(min-width:768px) {
       padding-top: 604px;
        padding-bottom: 100px;
        background-image: url(../images/max/Rectangle-780@1x.png);
       }

    @media screen and(min-width:1280px) {
        padding-top: 260px;
        background-image: url(../images/max/Rectangle-1200@1x.png);
        
        }
        
}

.OfferingsContainer{
    position: relative;
}

.OfferingsContainer::after{
    position: absolute;
    content: "";
    background-image: url(../images/max/Apple@1x.png);
    background-repeat: no-repeat;
    
    width: 280px;
    height: 320px;
    top: -347px;
    left: 50%;

    transform: translateX(-50%);

    @media screen and(min-width:768px) {
        background-image: url(../images/max/Group-768@1x.png);
        left: 0px;
        top: -454px;
        width: 704px;
        height: 450px;
        transform: translateX(0);
    }
    @media screen and(min-width:1280px){
        background-image: url(../images/max/Group-decstop@1x.png);
        width: 550px;
        height: 620px;
        left: 15px;
        top: -84px;
        transform: translateX(0);
    }
}

.OfferingsTitle{
    margin-bottom: 28px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;

    color: #2C2C2C;

    @media screen and(min-width:768px) {
        width: 526px;

        font-size: 42px;
        line-height: 1.16;
    }
}

.OfferingsList__icon{
    width: 26px;
    height: 26px;
}


.OfferingsButtonList {
    display: flex;
}

.OfferingsButtonList__button {
    width: 106px;
    height: 40px;

    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    background-color: white;
    cursor: pointer;

    border: 2px solid #7EB101;
    border-radius: 30px;

    &:hover{
        background-color: #BBF330;
        border: transparent;
    }
}

.OfferingsSubtitle{
    margin-bottom: 28px;

    font-size: 14px;
    line-height: 1.14;

    @media screen and(min-width:768px) {
        width: 500px;

        margin-bottom: 0;

        font-size: 16px;
        line-height: 1.18;
        }

    @media screen and(min-width:1200px) {
        font-size: 16px;
        line-height: 150%;
        }
}

.OfferingsList__title{
    margin-bottom: 16px ;
}

.OfferingsList{
    margin-bottom: 28px;

    @media screen and(min-width:768px) {
        display: flex;
    }
}

.OfferingsList__item{
    margin-top: 28px;
    @media screen and(min-width:768px) {
            display: block;
            width: 252px;
            &:not(:last-child){
                margin-right: 116px;
            }
        }
}

.test{
    background-color: transparent;
    border: transparent;
}


.OfferingsList__bcg {
    margin-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    border-radius: 50%;
    background-color: white;
}

.OfferingsList__subtitle{
    font-size: 14px;
    line-height: 1.16;

    @media screen and(min-width:768px) {
        display: block;
        width: 252px;
        }
}

.test2{
    @media screen and(min-width:1280px) {
        margin-left: 600px;
    }
}